---
import Nav from '../components/Nav.astro';

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Penzion Lenora</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link rel="stylesheet" href="/style/global.css">


    <style>

    </style>
</head>
<body>


    <header>
        <Nav />
        <div class="header-content">
            <h1>Ubytování v penzionu Lenora</h1>
            <div class="header-cta">
                <a class="btn" href="mailto:info@penzionlenora.cz">info@penzionlenora.cz</a>
                <a class="btn" href="tel:+420775959737">+420 775 959 737</a>
            </div>           
        </div>
        
    </header>

    <main>
    

    <section>
        <div class="container">
            <h1>Ubytování</h1>
            <p>V nabídce máme pro vás jednolůžkové, dvoulůžkové a třílůžkové pokoje pro 31 hostů.</p>
            <p>Všechny pokoje jsou vybaveny vlastní koupelnou s umývadlem a sprchovým koutem, sociálním zařízením, TV, wifi na pokoji.</p>
            <p>Ručníky a osušky včetně mýdla na každém pokoji.</p>
            <i>Taktéž dezinfekce.</i>
            <p>Ubytování s domácími mazlíky za poplatek</p>
            <p>Možnost ubytování od 14,00 hod., uvolnění pokoje v den odjezdu v 11,00 hod.</p>
        </div>
    </section>

    <section>
        <div class="container">
            <h1>Stravování</h1>
            <p>Nově otevřená restaurace s kuchyní a výčepem nabízí tradiční českou kuchyni i minutková jídla.</p>
            <p>Snídaně, polopenze a plná penze formou bufetu</p>
        </div>
    </section>

    <section>
        <div class="container">
            <h1>Další služby</h1>
            <p>Parkování zdarma u penzionu, posezení venku, možnost grilování, uzamykatelná úschovna kol, lyží.</p>
        </div>
    </section>

    <section>
        <div class="container">
            <h1>Odpočinek a sportovní vyžití</h1>
            <p>Pěší turistika, cyklostezky, rybolov, houbaření, půjčovna kanoí v místě (Vltava), běžecké trasy v okolí</p>
            <p>Hranice s Německem 11 km – sjezdovky 6-12 km, SKI centrum 2 km za hranicemi</p>
        </div>
    </section>

    <section>
        <div class="container">
            <h1>Ceník</h1>
            <p>Ubytování za osobu a den 400,- Kč včetně snídaně.</p>
            <p>Děti 2 – 10 let  50% sleva na ubytování</p>
            <p>Děti do 2 let zdarma bez nároku na lůžko a snídani</p>
            <p>Pes 100,-Kč/den</p>

            <p>Ubytování včetně polopenze 580,- Kč/osoba/den</p>
            <p>Ubytování včetně plné penze 720,- Kč/osoba/den</p>
        </div>
    </section>

    <section>
        <div class="container">
            <h1>Upozornění</h1>
            <p>K celkové ceně je nutné počítat s povinným poplatkem 20,- Kč/osoba/den pro OÚ Lenora. </p>
            <p>Týká se osob starších 18ti let.</p>
        </div>
    </section>






    </main>


</body>
</html>
