<nav>
    <div class="container">
        <a href="/" class="logo">
            <img src="/assets/logo.svg" alt="Penzion Lenora">
        </a>
        <div>
            <a href="/">Domů</a>
            <a href="/informace">Informace</a>
        </div>
    </div>
</nav>